body {
    background-image: url("Contact background.jpg");
    background-color: #d35b15;
    background-size: cover;
    font-family: Arial;
   }
.content {
    background-color:#d37116;
    width: 350px;
    padding: 60px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}
.content h1 {
    text-transform: uppercase;
}