/*.bod2{background-image:url("https://cdn.britannica.com/74/182174-050-6755AB49/balloon-sky.jpg");background-repeat:no-repeat;}*/
*{font-size:110%; font-family:'Dancing Script', cursive;;}
.h1{text-align:center;background-color:grey; padding:5px;}
.column{text-align:center;float:left; margin-left:3px;}
.row:after{clear:both;}

.home{background-color:lightgreen; text-align:center; }
.home a{color:red; text-decoration:none; font-size:20px;margin-left:50px;margin-right:50px;}

.intro{color:white; font-family:Monospace; font-style:oblique;}
.hr{text-align:center;border:1px double black; color:#f54842; border-top-left-radius:10px; border-top-right-radius:10px;}
.table:hover{color:yellow;}

table {
    background-image: url("https://cdn.britannica.com/74/182174-050-6755AB49/balloon-sky.jpg");
    }

.funny{text-align:center;color:lightgreen; font-size:2em; }
.sub{text-shadow:1px 1px 1px blue;letter-spacing:1px;vertical-align:middle;text-indent:1px;}

.body1{text-align:center; color:lightgreen; background-image:url("https://assets.newatlas.com/dims4/default/cdf8248/2147483647/strip/true/crop/1919x1080+0+0/resize/1440x810!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2Farchive%2Funiverse-expanding-acceleration-1.jpg");background-repeat:no-repeat;background-size:cover;}
.hh1{margin-bottom:10px;color:red; font-weight:bold; font-size:130%;}
.p1{font-size:200%; color:blue}
table,th,td{border:1px double cyan; border-collapse:collapse;padding:1px 2px 2px 1px ;border-width:1px;margin:1px 1px 1px 1px; vertical-align:bottom;}
.tablefirst{padding-bottom:200px;}
/*.home a:hover{text-decoration-color:blue;}*/
ol{color:red;list-style-type:lower-alpha;}

