.h1{text-align:center; color:red;}
/*.first{text-align:center;}
.second{text-align:center;}
.coloumn{width:50%; background-color:red; float:left;}
.row:after{clear:both;}*/

.column{width:50%;  float:left; text-align:center;}
.row:after{clear:both;}
.normal{text-align:center;}
.pro{text-align:center;}
.center{text-align:center;}
.body{background-image:url(https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8c3VucmlzZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80.jpg);background-size:cover;background-repeat:no-repeat}
.yes{position:absolute; background-color:yellow;text-transform:uppercase;}
.no{margin-left:300px; background-color:yellow;text-transform:uppercase;}
.q{text-align:center;background-color:#3481cf; text-shadow:1px; letter-spacing:3px;font-family:'Indie Flower',cursive;}
.k{text-align:center;font-size:300%;}
.faketable{border:0px cyan dashed;border-top-width:10px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px}
.table .th{border:1px black solid;border-collapse:collapse;background-color:#bfc2b8;width:200px;}
.table{margin-left:auto;margin-right:auto;}
.bu{background-color:#bfc2b8;letter-spacing:-1px;}
.div{font-family:'Indie Flower',cursive;color:white;font-size:150%;text-align:center;text-decoration:none;}

